<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811162013764-hea1m3j5i0j808tfqgvlob0quukq0e8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811162013764-hea1m3j5i0j808tfqgvlob0quukq0e8o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811162013764-1n2qtnc9rqnb1u67bssicm72rtv5bs48.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoYBKBQo2fMssrSN5senxbky3CNkm67g4</string>
	<key>GCM_SENDER_ID</key>
	<string>811162013764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yallapick.user</string>
	<key>PROJECT_ID</key>
	<string>yallapick-92c64</string>
	<key>STORAGE_BUCKET</key>
	<string>yallapick-92c64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811162013764:ios:053c500560c3fc5a536c11</string>
</dict>
</plist>